:host {
  display: block;
  margin: 16px 0 ;
}

mat-card {
  margin-bottom: 16px;
  border: 1px solid var(--base-divider);

  img {
    filter: grayscale(70%);

    &:hover {
      filter: grayscale(0);
    }
  }
}
