<div fxLayout="column" fxLayoutAlign="center center">
  <mat-card class="mat-elevation-z0">
    <div fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <mat-card-title>Login</mat-card-title>
        <mat-card-subtitle>Sign in with your email</mat-card-subtitle>
      </div>
      <mat-card-actions align="end">
        <button mat-icon-button [matMenuTriggerFor]="menu"><mat-icon>more_vert</mat-icon></button>
      </mat-card-actions>

      <mat-menu #menu="matMenu" xPosition="before" [overlapTrigger]="true">
        <button mat-menu-item *ngFor="let user of users" (click)="email = user.email">
          <span>{{ user.email }}</span>
        </button>
      </mat-menu>
    </div>

    <mat-card-content>
      <form [formGroup]="form" fxLayout="column">
        <mat-form-field>
          <input matInput type="email" placeholder="Email" formControlName="email" />
        </mat-form-field>

        <mat-form-field>
          <input matInput type="password" placeholder="Password" formControlName="password" />
        </mat-form-field>

        <button mat-stroked-button (click)="login()" [disabled]="!form.valid">Login</button>
      </form>
    </mat-card-content>
  </mat-card>
</div>
