<div class="course" *ngIf="course$ | async as course">
  <div fxLayout="row" fxLayoutAlign="start center" class="margin-bottom">
    <button mat-icon-button class="margin-right" (click)="back()"><mat-icon>arrow_back</mat-icon></button>
    <h2 class="no-margin">{{ course?.description }}</h2>
  </div>

  <img class="course-thumbnail mat-elevation-z8" [src]="course?.iconUrl" />

  <div class="spinner-container" *ngIf="loading$ | async">
    <mat-spinner></mat-spinner>
  </div>

  <br />

  <mat-table *ngIf="lessons$ | async as lessons" class="margin-top border mat-elevation-z0" [dataSource]="lessons">
    <ng-container matColumnDef="seqNo">
      <mat-header-cell *matHeaderCellDef>#</mat-header-cell>
      <mat-cell *matCellDef="let lesson">{{ lesson.seqNo }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="description">
      <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
      <mat-cell *matCellDef="let lesson">{{ lesson.description }}</mat-cell>
    </ng-container>

    <ng-container matColumnDef="duration">
      <mat-header-cell *matHeaderCellDef>Duration</mat-header-cell>
      <mat-cell *matCellDef="let lesson">{{ lesson.duration }}</mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

    <!-- Disclaimer column -->
    <ng-container matColumnDef="loadMore">
      <td mat-footer-cell *matFooterCellDef colspan="2">
        <button mat-stroked-button class="margin-vertical" (click)="loadLessonsPage(course)">Load More</button>
      </td>
    </ng-container>

    <tr mat-footer-row *matFooterRowDef="['loadMore']"></tr>
  </mat-table>
</div>
