<mat-toolbar>
  <button mat-icon-button *ngIf="small" (click)="sidenav.toggle()">
    <mat-icon>{{ sidenav.opened ? 'menu_open' : 'menu' }}</mat-icon>
  </button>
  <span class="title">NgRx Playground</span>

  <span class="spacer"></span>

  <ng-container *ngIf="!hideActions">
    <button mat-icon-button matBadge="0" matBadgeSize="small" class="promo">
      <mat-icon>sell</mat-icon>
    </button>
    <button mat-icon-button routerLink="/login">
      <mat-icon>logout</mat-icon>
    </button>
  </ng-container>
</mat-toolbar>
